{% comment %}
Source: https://gist.github.com/carolineschnapp/9122054
Customized by: Michael X
{% endcomment %}

<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<div id="app" class="vue-form">

  <!-- Form Header ----------------------------------------------------------->
  <header class="collection-header">
    <div class="page-width">
      <div class="section-header text-center">
        <h1>Bulk Order Form</h1>
      </div>
    </div>
  </header>

  <!-- Form ------------------------------------------------------------------>
  <form
    method="POST"
    v-on:submit.prevent="submitForm"
  >

    <template v-if="allProducts.length > 0">

      <!-- Product Table ----------------------------------------------------->
      <table class="custom-order-form">

        <!-- Table Headers ----------------------------------------------------->
        <thead>
          <tr>
            <th>Preview</th>
            <th>Name</th>
            <th>Price</th>
            <th>Engraving</th>
            <th class="product-header-donate">Donate</th>
            <th class="product-header-quantity">Quantity</th>
          </tr>
        </thead>

        <!-- Body -------------------------------------------------------------->
        <tbody>
          <template v-for="product in allProducts">
            <template v-if="product.available">
              <template v-for="variant in product.variants">
                <template v-if="variant.available">

                  <!-- Product Variant Row ------------------------------------->
                  <tr>

                    <!-- Preview Image ----------------------------------------->
                    <td class="product-preview">
                      <img
                        :src="product.featured_image"
                        @click="goToProduct(variant.url)"
                      />
                    </td>

                    <!-- Title ------------------------------------------------->
                    <td
                      class="product-title"
                      @click="goToProduct(variant.url)"
                    >
                      ${product.title}
                      <template v-if="!variant.title.includes('Default')">
                        - ${variant.title}
                      </template>
                      <template v-if="variant.sku">
                        - ${variant.sku}
                      </template>
                    </td>

                    <!-- Price ------------------------------------------------->
                    <td class="product-price">
                       ${variant.price}
                    </td>

                    <!-- Custom Engraving (optional) --------------------------->
                    {% if settings.engraving_enabled == 'yes' %}
                    <td class="product-engraving">
                      <p
                        class="line-item-property__field"
                        style="width: 100%;"
                      >
                        <input
                          type="text"
                          v-model="variant.engravingInput"
                          style="padding: 10px; width: 100%;"
                        >
                      </p>
                    </td>
                    {% endif %}

                    <!-- Donate To SickKids (required) ------------------------->
                    {% if settings.donate_enabled == 'yes' %}
                    <td class="product-donate">
                      <p
                        class="line-item-property__field"
                        style="margin: 0;"
                      >
                        <label
                          style="
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                          "
                        >
                          {{ settings.donate_organization}}
                          ({{ settings.donate_percentage}}%)
                        </label>

                        <div style="display: flex;">
                          <label
                            class="custom-input-group"
                            style="margin-right: 10px;"
                          >
                            <input
                              type="radio"
                              v-model="variant.donateInput"
                              v-bind:value="'yes'"
                            >
                            <span>Yes</span>
                          </label>
                          <label class="custom-input-group">
                            <input
                              type="radio"
                              v-model="variant.donateInput"
                              v-bind:value="'no'"
                            >
                            <span>No</span>
                          </label>
                        </div>
                      </p>
                    </td>
                    {% endif %}

                    <td class="product-quantity">
                      <input
                        type="number"
                        v-model="variant.quantityInput"
                        {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %}
                          max="{{ variant.inventory_quantity }}"
                        {% endunless %}
                        tabindex="1"
                      />
                    </td>
                  </tr>
                </template>
              </template>
            </template>
          </template>
        </tbody>

      </table>

      <!-- Actions ----------------------------------------------------------->
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 20px;
        "
      >
        <input type="submit" value=''>
          Add To Cart
        </input>
      </div>

    </template>

    <template v-else>
      <p>There are no products in this view.</p>
    </template>

  </form>

</div>

{% assign collection = collections.all %}

{% paginate collection.products by 100 %}

</div>
{% endpaginate %}

<!-- Vue --------------------------------------->
<script>

  // Build arrays of products and variants from liquid collection
  var allProducts = []
  var myVariants = []

  {% for product in collection.products %}

    var object = {}
    object.id = "{{ product.id }}"
    object.available = "{{ product.available }}"
    object.featured_image =  "//cdn.shopify.com/s/files/1/0063/1770/3239/" + "{{ product.featured_image }}"
    object.variants = []
    object.title = "{{ product.title }}"
    allProducts.push(object)

    // Variants
    {% for variant in product.variants %}

      var variantObject = {}

      // internal properties
      variantObject.id = "{{ variant.id }}"
      variantObject.available = "{{ variant.available }}"
      variantObject.url =  "//cdn.shopify.com/s/files/1/0063/1770/3239/" + "{{ variant.url }}"
      variantObject.featured_image = "{{ variant.featured_image }}"
      variantObject.title = "{{ variant.title }}"
      variantObject.sku = "{{ variant.sku }}"
      variantObject.price = "{{ variant.price | money}}"

      // editable properties
      variantObject.donateInput = 'no'
      variantObject.engravingInput = ''
      variantObject.quantityInput = 0

      //--
      object.variants.push(variantObject)
      myVariants.push(variantObject)

    {% endfor %}

  {% endfor %}

  //-- Form -------------------------------------
  var form = new Vue({

    delimiters: ['${', '}'],
    el: '#app',

    data() {
      return {
        allProducts: allProducts,
        myVariants: myVariants,
        payloads: []
      }
    },

    methods: {

      goToProduct(url) {
        let base = 'https://devs-beyond-borders.myshopify.com'
        window.location.href = base + url
      },

      submitForm() {

        // gather form data
        const myVariants = this.myVariants

        // create request payloads
        let payloads = []

        myVariants.forEach(variant => {
          payloads.push({
            id: parseInt(variant.id),
            quantity: parseInt(variant.quantityInput),
            properties: {
              'Donate': variant.donateInput,
              'Engraving': variant.engravingInput
            }
          })
        })

        this.payloads = payloads
        this._addItem(this.payloads[0]);
      },

      //-- Internal -----------------------------
      _addItem(payload) {
        fetch('/cart/add.js', {
          method: 'POST',
          mode: 'cors',
          cache: 'no-cache',
          credentials: 'same-origin',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(payload)
        }).then(response => response.json())
          .then(() => { this._moveAlong() })
      },

      _moveAlong() {
        const payloads = this.payloads
        if (payloads.length) { // requests in queue, process next request
          const request = payloads.shift();
          this._addItem(request);
        } else { // queue empty, redirect to cart
          const url = 'https://devs-beyond-borders.myshopify.com/cart'
          document.location.href = url
        }
      }

    }

  })


</script>

{% if collection.products_count > 0 %}
  <!-- <script>
  jQuery(function($) {
    $('table .quantity:first').focus();
    $('[max]').change(function() {
      var max = parseInt($(this).attr('max'), 10);
      var value = parseInt($(this).val(), 10) || 0;
      if (value > max) {
        alert('We only have ' + max + ' of this item in stock');
        $(this).val(max);
      }
    });
  });
  </script> -->
{% endif %}
