{% comment %}
Source: https://gist.github.com/carolineschnapp/9122054
Customized by: Michael X
{% endcomment %}

<!-- Header -->
<header class="collection-header">
  <div class="page-width">
    <div class="section-header text-center">
      <h1>Bulk Order Form</h1>
    </div>
  </div>
</header>

{% assign collection = collections.all %}

{% paginate collection.products by 100 %}

<form action="/cart" method="post">

  <!-- Page Content / Collection Description -->
  {% if template contains 'page' and page.content.size > 0 %}
    <div class="rte">
      {{ page.content }}
    </div>
  {% elsif collection.description.size > 0 %}
    <div class="rte">
      {{ collection.description }}
    </div>
  {% endif %}

  <!-- Product Table -->
  {% if collection.products_count > 0 %}
    <table class="custom-order-form">
      <thead>
        <th>Preview</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Engraving</th>
      </thead>
      <tbody>
      {% for product in collection.products %}
        {% if product.available %}
          {% for variant in product.variants %}
            {% if variant.available %}
              <tr class="{% cycle 'pure-table-odd', '' %}">
                <td>
                  <a href="{{ variant.url | collection }}">
                    <img src="{{ variant.image | default: product.featured_image | img_url: 'small' }}" alt="{{ variant.title | escape }}" />
                  </a>
                </td>
                <td>
                  <a href="{{ variant.url | collection }}">
                   {{ product.title }}{% unless variant.title contains 'Default' %} - {{ variant.title }}{% endunless %}{% unless variant.sku == blank %} - {{ variant.sku }}{% endunless %}
                  </a>
                </td>
                <td>
                   {{ variant.price | money }}
                </td>
                <td style="text-align:right;">
                  <input name="updates[{{ variant.id }}]" onfocus="this.select()" class="quantity field" min="0" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="0" tabindex="1" />
                </td>

                <td>
                  {% if settings.engraving_enabled == 'yes' %}
                    <p class="line-item-property__field">
                      <input id="custom-engraving" type="text" name="properties[Custom Engraving]">
                    </p>
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      </tbody>
    </table>

    <!-- Actions -->
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
      "
    >
      <input type="submit" value="Add to the cart" />
    </div>

  {% else %}
    <p>There are no products in this view.</p>
  {% endif %}

</form>

{% endpaginate %}

{% if collection.products_count > 0 %}
  <script>
  jQuery(function($) {
    $('table .quantity:first').focus();
    $('[max]').change(function() {
      var max = parseInt($(this).attr('max'), 10);
      var value = parseInt($(this).val(), 10) || 0;
      if (value > max) {
        alert('We only have ' + max + ' of this item in stock');
        $(this).val(max);
      }
    });
  });
  </script>
{% endif %}